@{
    ViewBag.Title = "About";
}
<body style="background-image: url('../../content/images/c101.jpg'); background-size: cover;">
    <section class="card" style="background-color:black; color:azure">
        <div class="card-body">
            <h1 class="card-title" id="title">All about botSense!</h1>
            <p class="card-text">
                botSense enterprises has started in the year of 2022 and <br />
                proved our capability in global market within an year.<br /><br />
                botSense enterprises has different modes of products and services<br />
                Yet stays the best in the market.
            </p>
        </div>
    </section>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>