@{
    ViewBag.Title = "Contact";
}
<body style="background-image: url('../../content/images/c101.jpg'); background-size: cover;">
    <section class="card" style="background-color:black; color:azure">
        <div class="card-body">
            <h1 class="card-title" id="title">Contact us.</h1>
            <p class="card-text">
                4th floor, Ahsraya enclave.<br />
                kochi.<br />
                Kerala,India
                Pin: 68655510
                Phone: 8129246565
                Email: tbotsense@gmail.com
            </p>
        </div>
    </section>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>