@{
    ViewBag.Title = "Home Page";
}

<body style="background-image: url('../../content/images/c101.jpg'); background-size: cover;">
    <section class="card" style="background-color:black; color:azure">
        <div class="card-body">
            <h1 class="card-title" id="title">Room Booking System (CRBS)</h1>
            <p class="card-text">
                Welcome to our Conference Room Booking System.<br />
                In this website you can book your favourite conference room!<br />
                Our web services ensures the best booking services.<br />
                We promise that our conference room will do great for your bussiness meetings.<br />
            </p>
        </div>
    </section>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>