@{
    ViewBag.Title = "Signin";
}
<body style="background-image: url('../../content/images/c101.jpg'); background-size: cover;">
    <section class="card" style="background-color:black; color:azure">
        <div class="card-body">
            <h1 class="card-title" id="title">Sign in to CRBS</h1>
            <p class="card-text">
                Sign in
            </p>
        </div>
    </section>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>