
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body style="background-image: url('../../content/images/c101.jpg'); background-size: cover;">
    <section class="card" style="background-color:transparent; color:black">
        <div class="card-body">
            <h1 class="card-title" id="title">Admin Dashboard</h1>
            <p class="card-text">
                In this dashoard you can do different authorised events.<br />
                Add new room details.<br />
                Edit or update room details.<br />
                View room details.<br />
                View Client details.<br />
                Add new admin.<br />
                Change admin password.
            </p>
        </div>
    </section>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>


